h1 {
    text-align: center;
}

td {
width: 100px;
height: 100px;
}
   
table{
    margin: 10px auto;
}
.leftline {
     border-left: 2px solid black;
     border-right:  2px solid black; 
    }    

.rightline {
    border-left: 2px solid black;
    border-right:  2px solid black; 
    } 

.topline {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.midline {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.bottomline {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
   
